<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  @!section('extracss')
  <title>@!section('title')</title>
{{style('style')}}

@!section('script')
  
<SCript>
  function move() {
  document.getElementById("uploadingfiles").innerHTML+="Uploading Your File";
  var elem = document.getElementById("myBar");   
  var width = 0;
  var id = setInterval(frame, 300);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
}
</SCript>
<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">

<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<body class="parallax">
  <div class="app-container">
  <header><a href="/" id="logo">Engineer's Portal</a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            @loggedIn
            <div class="dropdown"><button class="dropbtn">Categories</button>
              <div class="dropdown-content">
              <li><a href="/music">Music</a></li>
              <li><a href="/login">Dance</a></li>
              <li ><a href="/login">Writings</a></li>
              <li><a href="/login">Photography</a></li></div></div>
                <li><a href="/post-a-job">My Posts</a></li>
                <li><a href="/logout">Logout</a></li>
            @else
                
               
            
            <div class="dropdown"><button class="dropbtn">Categories</button>
                <div class="dropdown-content">
                <li><a href="/login">Music</a></li>
                <li><a href="/login">Dance</a></li>
                <li ><a href="/login">Writings</a></li>
                <li><a href="/login">Photography</a></li></div></div>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            @endloggedIn
        </ul>
    </nav></header>
  <div class="container">
  @!section('content')
  
</div> 
</div>
</body>
</html>
